h1{
    color: black;
    padding: 1%; color:black;
    background-color: #E82C04;
    padding-bottom: 0%;
}
h2{
    color: black;
    background-color: #FFA10F;
}
p{  
padding-left: 60px;
}
body{
	background-image: url(https://wallpaperaccess.com/full/804326.png);
	background-size:100% 100%;
	background-attachment:fixed;
}
